fastapi
uvicorn[standard]
python-multipart
openai
langchain
pandas
matplotlib
scikit-learn
beautifulsoup4
duckdb
lxml
langchain-experimental
seaborn
langchain-google-genai
html5lib
duckdb
pyarrow
boto3